<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tadpole"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.xiaotingzhong.app.XTZApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.weibo.sdk.android.demo.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Tadpole" >

        </activity>
        <activity
            android:name="com.xiaotingzhong.app.LauncherActivity"
            android:theme="@style/Theme.Tadpole" >
        </activity>
        <activity
            android:name="com.xiaotingzhong.app.SubscriptionActivity"
            android:theme="@style/Theme.Tadpole.Dialog"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.xiaotingzhong.app.StatusesActivity"
            android:theme="@style/Theme.Tadpole" >
        </activity>
        <activity android:name="org.tadpole.APITypeListActivity" >
        </activity>
        <activity android:name="com.weibo.sdk.android.demo.ShareActivity" >
        </activity>
        <activity android:name="com.weibo.sdk.android.demo.BlogFunActivity" >
        </activity>
        <activity
            android:name="com.xiaotingzhong.app.SettingsActivity"
            android:label="@string/title_activity_settings" >
            
                        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>